Screen {
    align: center top;
}

.button-container {
    layout: horizontal;
    margin-top: 1;   /* Adds space above the button container */
}

Button {
    width: auto; /* Allows buttons to size based on their content */
}

#main-container {
    layout: vertical;
    align: center top;
}

#category-container, #scale-container {
    width: 80%;
    height: 50%;
    overflow: auto;
    border: solid gray;
    margin: 1 0;
}

#category-widget, #scale-widget {
    width: 100%;
}

#category-editable-field, #scale-editable-field {
    width: 100%;
    margin: 1 0;
}

#category-editable-field-input, #scale-editable-field-input {
    width: 100%;
}

#category-editable-field-textarea, #scale-editable-field-textarea {
    width: 100%;
    height: 10; /* Increased height for better visibility */
}

Select {
    width: 100%;
    margin: 1 0;
}

Input {
    width: 100%;
    margin: 1 0;
}

TextArea {
    width: 100%;
    height: 15;
    margin: 1 0;
}

#loading-indicator, #scale-loading-indicator {
    margin: 1 0;
    visibility: hidden;
}

#loading-indicator.visible, #scale-loading-indicator.visible {
    visibility: visible;
}