     __pycache__/
     *.py[cod]
     *.so
     .Python
     build/
     develop-eggs/
     dist/
     downloads/
     eggs/
     .eggs/
     lib/
     lib64/
     parts/
     sdist/
     var/
     wheels/
     *.egg-info/
     .installed.cfg
     *.egg
/underdogcowboy.egg-info
/dist
/underdogcowboy/__pycache__
/underdogcowboy/core/__pycache__
.DS_Store
Timeline_Editor_SA_IAM.json
/old
