     __pycache__/
     *.py[cod]
     *.so
     .Python
     build/
     develop-eggs/
     dist/
     downloads/
     eggs/
     .eggs/
     lib/
     lib64/
     parts/
     sdist/
     var/
     wheels/
     *.egg-info/
     .installed.cfg
     *.egg
/underdogcowboy.egg-info
/dist
/underdogcowboy/__pycache__
/underdogcowboy/core/__pycache__
.DS_Store
Timeline_Editor_SA_IAM.json
/old
/underdogcowboy/core/specializedagents/__pycache__
tests/__pycache__/tracing_config.cpython-311.pyc
*.pyc
venv_an
/state_machine_visualizations
/venv
/.uccli_sessions
session_data.db
*.log
/underdogcowboy/core/commandtools/agent_flow/dev_notes
*.md
/.vscode
.vscode/launch.json
/.vscode
